@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #349449;
    --dark-gray:  #6B7280;
    --off-white: 
    #EFF6FF;
}

img { max-width: 100%; height: auto; }

html { font-size:100%; }

@media (min-width: 640px) { body  {font-size:1rem;} } 
@media (min-width:960px) { body  {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

body{
    font-family: 'Montserrat', 
    sans-serif;
    
}

hr{
    margin: 2rem 0rem;
}

.proper-color{
    color: var(--dark-gray);
}

/* container */
.container 
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0rem;
}
.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
    margin-right: 0.5rem;
   
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation  {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    
}

.navigation .link {
    color: white;
}

.navigation .nav-pills{
    text-align: right;

}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .link-active {
    font-weight: bold;
    padding-top: 5rem ;
}

/* header */
.hero
{
    padding: 2rem;
    
}

.hero .hero-img {
    
    max-width: 350px;
    display: block;
    margin: auto;
    
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .heading-inverted{
        color: var(--primary-color);
}

/* section */
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    
}

.ow {
    background-color: var(--off-white);
}

/* footer */

footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}